nav {
  height: 70px;
  padding: 0 50px;
  background: #1f2937;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: white;
  margin: 0;
}

.navigation {
  display: flex;
  gap: 25px;
}

.navigation a {
  color: #d1d5db;
  text-decoration: none;
}

.navigation a.active {
  color: #fbbf24;
}

.page {
  width: min(1000px, 90%);
  margin: 50px auto;
}

.hero {
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero p {
  color: #64748b;
  font-size: 18px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.hero-buttons a,
.success-page > a {
  padding: 12px 20px;
  background: #f59e0b;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.food-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px #00000010;
}

.food-card h3 {
  color: #f59e0b;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 7px;
  background: #f59e0b;
  color: white;
  cursor: pointer;
}

.order {
  margin-top: 40px;
  padding: 25px;
  background: white;
  border-radius: 12px;
}

.selected-food {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.form-container {
  width: min(500px, 90%);
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 13px;
  border: 1px solid #cbd5e1;
  border-radius: 7px;
}

.error {
  color: #dc2626;
  margin: 0 0 8px;
  font-size: 14px;
}

.success-page {
  width: min(600px, 90%);
  margin: 70px auto;
  text-align: center;
}

.reservation-card {
  background: white;
  padding: 30px;
  margin: 30px 0;
  border-radius: 15px;
  text-align: left;
}